body {
  font-family: "Arial Black", Gadget, sans-serif;
  background-color: white;
}

.app {
  display: flex;
  flex-direction: column;
}

.background {
  flex: 1 1 auto;
  display: block;
  position: relative;
  margin: auto;
}

.background .background-image {
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}

.album-front {
  position: absolute;
  top: 5%;
  left: 37%;
  width: 46%;
}

.album-front:after {
  display: block;
  padding-bottom: 100%;
  content: "";
}
/* ------------------- Instruments --------------------- */

.instrument-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-around;

  position: absolute;
  height: 100%;
  width: 100%;
}

.instrument {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  width: 38%;
  max-height: 38%;
  padding: 2%;

  border-radius: 50%;
  transition: all 0.25s ease;
}

.instrument:hover {
  background-color: yellow;
  background-color: rgba(255, 255, 0, 0.32);
}

.instrument.active {
  transform: scale(1.15);
  background-color: yellow;
  background-color: rgba(255, 255, 0, 0.54);
}

.keys {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  flex: auto;
  margin-bottom: 10%;
  z-index: 1;

  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease;
}

.keys button {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  height: 15%;
  padding: 0 5% 0 5%;

  font-weight: bold;
}

.keys button.playing {
  transform: scale(1.25);

  box-shadow: 0px 0px 10px orange;
}

.key-description {
  font-size: 8px;
  font-weight: normal;
}

.instrument img {
  align-self: center;
  margin: 5px 0 5px 0;
  max-width: 100%;
  max-height: 100%;
  z-index: 0;
}

#guitar {
  align-self: flex-start;
}

#guitar.active img {
  content: url("../media/imgs/guitar-animated.gif");
}

#drums {
  align-self: center;
}

#drums.active img {
  content: url("../media/imgs/drums-animated.gif");
}

#bass {
  align-self: flex-end;
}

#bass.active img {
  content: url("../media/imgs/bass-animated.gif");
}

.save {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.save-btn {
  flex: 1;

  z-index: 1;

  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease;
}

.save-text {
  white-space: nowrap;
  flex: 3;
  margin-left: 5%;
  margin-bottom: 10%;

  opacity: 0;
  color: #ff4000;
  font-size: 8px;
  transition: all 1s ease;
}

.saved-data {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: center;

  visibility: hidden;
  opacity: 0;
  color: black;
}

.saved-data ul {
  list-style: none;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 12px;
}

/* ---------------- Controls --------------------- */

.controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-around;
  overflow: hidden;

  flex: 1 1 auto;
  margin-bottom: 5px;
  padding-left: 10px;

  background-color: #FFF;
  box-shadow: 0 2px 3px #666;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.left-controls {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  margin: auto;
  flex: 1 1 40%;
}

.middle-controls {
  display: flex;
  flex-flow: column;
  align-content: flex-end;
  justify-content: flex-end;

  flex: 1 1 auto;
  align-self: center;
  margin-left: 3%;
}

.middle-controls label {
  padding: 5px;
  background-color: #fff;
  border-bottom: none;
}

.slider-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
  overflow: hidden;

  padding-top: 1px;
  padding-bottom: 5px;
  width: 100%;

  background-color: #fff;
  background-image: url("../media/imgs/tempo.png");
  background-position: center;
  background-size: cover;
  border-top: none;
}

input[type=range][orient=vertical] {
  margin: auto;
  width: 15px;
  height: 60%

  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
}

.right-controls {
  display: flex;
  flex-flow: row wrap;

  flex: 2 1 60%;
}

.controls-btn {
  flex: 0 1 auto;
  width: 30%;
  padding: 2% 0 2% 0;
}

.title {
  text-align: center;

  flex: 1 1 100%;
  align-self: flex-start;
  margin-bottom: -4%;
  margin-right: 50%;
  z-index: 1;

  font-family: Impact;
  font-weight: normal;
  letter-spacing: 7px;
}

.title::first-letter {
  color: gray;
  font-size: 40px;
}

.controls-btn.primed {
  background-color: #40ff00;
  font-weight: bold;
}

.controls-btn.pulse {
  transform: scale(1.1);
}

.controls-btn.active {
  transform: scale(1.25);

  background-color: #ff4000;
}

.controls img {
  object-fit: contain;
  flex: 0 1 100%;
  align-self: flex-end;
  max-width: 100%;
}

/* ---------------- Utility ------------------- */

.active {
  opacity: 1.0;
  visibility: visible;
}

button {
  padding: 1%;
  background-color: white;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 3px;
  border: 2px solid black;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: black;
  transition: all 0.1s ease;
}

button:focus {
  outline: none;
}

button:hover {
  opacity: 0.84;
}

button:active {
  opacity: 0.54;
  transform: translateY(2px);
}

/* ------------------- Small Screens ---------------------- */

@media screen and (max-width: 800px) {

  .background .background-image {
    z-index: -1;

    content: url("../media/imgs/Cassette.png");
  }

  /* ---------------- Small Screen Controls ------------------ */
  .controls {
    margin-bottom: 12px;
  }

  .right-controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    margin: auto;
    flex: 1 1 35%;
  }

  .left-controls {
    display: flex;
    justify-content: space-between;

    flex: 1 1 65%;
    margin-top: 2%;
  }

  .left-controls button {
    padding: 5px 5px 5px 5px;
  }

  .left-controls p {
    text-align: center;

    width: 100%;
  }

  .title {
    text-align: center;

    flex: 1 1 auto;
    margin: auto;

    font-family: Impact;
    font-weight: normal;
    letter-spacing: 7px;
  }

  .title::first-letter {
    color: #ff4000;
  }

  .controls img {
    display: none;
  }

  /* -------------------- Small Screen Instruments ---------------- */

  .album-front {
    display: flex;
    flex-flow: column nowrap;

    position: absolute;
    width: 68%;
    height: 91%;
    top: 4%;
    left: 7%;

    border-radius: 7px;
  }

  .instrument-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;

    margin-top: 0;
  }

  .instrument {
    width: 80%;
    max-height: 100%;
    margin-top: -5%;
  }

  #guitar {
    align-self: center;
  }

  .instrument button {
    background-color: white;
  }
}

/* ---------------- Utility ------------------- */

.active {
  opacity: 1.0;
  visibility: visible;
}

button {
  background-color: white;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 3px;
  border: 2px solid black;
  padding: 15px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: black;
  transition: all 0.1s ease;
}

button:focus {
  outline: none;
}

button:hover {
  opacity: 0.84;
}

button:active {
  opacity: 0.54;
  transform: translateY(2px);
}

button:disabled {
  opacity: 0.54;
}
