body {
  background-color: black;
  padding: 0 10vw 0 10vw;
}

#app {
  flex: auto;
  background-color: white;
  height: 1000px;
}

.keys {
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: space-between;
  transition: all 0.25s ease;
}

.keys.active {
  opacity: 1.0;
  visibility: visible;
}

#drummer {
  height: 250px;
  width: 250px;
  padding: 0 25px 0 25px;
  background-color: black;
  transition: all 0.25s ease;
}

#drummer:hover {
  height: 300px;
  width: 300px;
  background-color: yellow;
}

#drummer.active {
  height: 500px;
  width: 500px;
  background-color: green;
}

button {
  margin-top: 25px;
  height: 47px;
  width: 47px;
  background-color: #123;
  color: white;
  border-radius: 3px;
  border: 2px solid black;
  outline: none;
  transition: all 0.1s ease;
}

button:hover {
  background-color: #9AB;
  border-color: #9AB;
}

button.playing {
  margin-top: 20px;
  height: 57px;
  width: 57px;
  background-color: #AAA;
  border-color: #AAA;
  color: black;
}

/* ------------- Utilities ---------------*/
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
