body {
  background-color: #1a1516;
  padding: 0 5% 0 5%;
  font-family: "Arial Black", Gadget, sans-serif;
}

#app {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding-top: 45px;
  border-radius: 5px;
  background-color: #edefe1;
}

.name {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

button {
  height: 47px;
  width: 47px;
  background-color: #123;
  color: white;
  border-radius: 3px;
  border: 2px solid black;
  transition: all 0.1s ease;
}

button:focus {
  outline: none;
}

button:hover {
  opacity: 0.84;
}

button:active {
  opacity: 0.54;
}

/* ------------------- Instruments --------------------- */

.instrument-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  padding: 5% 0 5% 0;
  margin: 15px;
  border-radius: 5px;
  flex: auto;
  background-image: url("../media/imgs/background.jpeg");
  background-position: center 75%;
  background-size: 100%;
}

.keys {
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: space-between;
  transition: all 0.25s ease;
}

.keys.active {
  opacity: 1.0;
  visibility: visible;
}

.instrument img {
  flex: auto;
  align-self: center;
  margin-top: 20px;
}

.instrument {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  flex-basis: 20%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.54);
  transition: all 0.25s ease;
}

.instrument:hover {
  background-color: yellow;
  background-color: rgba(255, 255, 0, 0.54);
}

.instrument.active {
  transform: scale(1.25);
}

button.active {
  height: 57px;
  width: 57px;
  background-color: #AAA;
  border-color: #AAA;
  color: black;
}

.save {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.save-btn {
  flex: 1;
  display: none;
}

.save-btn.active {
  display: flex;
}

.save-text {
  margin-left: 15px;
  flex: 3;
  opacity: 0;
  transition: all 1s ease;
}

.save-text.active {
  opacity: 1;
}

/* ---------------- Controls --------------------- */

.controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: #cb7259;
}

.controls-btn {
  flex: 1;
  margin: 0 5% 0 5%;
}

.record-btn {
  flex: 0 1 auto;
  width: 40px;
  height: 40px;
  margin-left: 15px;
  border-radius: 50%;
  background-color: #1a1516;
}

.record-btn.active {
  background-color: red;
}

/* ---------------- Welcome Screen ------------------- */
#welcome.active {
  display: flex;
  z-index: 1;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: RGBA(0, 0, 0, 0.84);
}

#welcome {
  display: none;
}

#welcome form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 10%;
}

#welcome form input {
  margin: 25px 0 25px 0;
  padding: 5px;
}

#welcome button {
  border-radius: 5px;
  width: 100%;
}

#welcome button:active {
  transform: translateY(2px);
  opacity: 0.84;
}
